<!-- Footer Start -->
<footer style="border-top:5px solid #3e3f3a; padding-top:20px;">
  <div class="row">
    <div class="col-lg-12">

      <ul class="list-unstyled">
        <li class="pull-right"><a href="#top" class="btn btn-default" data-toggle="tooltip" title="Back to Top">
          <i class="fa fa-angle-up"></i></a>
        </li>
        <li><a href="http://nisblinkedin"  class="btn btn-default" data-toggle="tooltip" title="LinkedIn">
          <i class="fa fa-linkedin"></i></a>
        </li>
        <li><a href="http://feeds.feedburner.com/bootswatch"  class="btn btn-default" data-toggle="tooltip" title="Google plus">
          <i class="fa fa-google-plus"></i></a>
        </li>
        <li><a href="https://twitter.com/bootswatch"  class="btn btn-default" data-toggle="tooltip" title="Twitter">
          <i class="fa fa-twitter"></i></a>
        </li>
        <li><a href="https://github.com/nisbweb"  class="btn btn-default" data-toggle="tooltip" title="Github">
          <i class="fa fa-gitHub"></i></a>
        </li>
        <li><a href="https://somelink"  class="btn btn-default" data-toggle="tooltip" title="Facebook">
          <i class="fa fa-facebook"></i></a>
        </li>
      </ul>

    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Theme by <a href="http://thomaspark.co" rel="nofollow">Thomas Park</a></p>
      <p>License :
          <i class="fa fa-creative-commons"></i>
          Attribution-NonCommercial 4.0 International
      </p>
    </div>
    <div class="col-md-6">
      NIE IEEE Students Branch <br>
      The National Institute of Engineering <br>
      Mysuru <br> <br>
      Limita Shetty <br>
      +91 90082 34655 <br>
      limita.shetty@gmail.com <br>
    </div>
  </div>
</footer>
<!-- Footer End -->
