<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NIE IEEE Student Branch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bs.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/blueimp.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body class="">

        <!-- Include Navigation  -->
        {% include('nav.html') %}

    <!-- Container Start -->
    <div class="container">
<br><br><br>
      <div class="col-md-12" style="float:none; margin:0 auto;">
        <h1  class="text-center">Gallery</h1><br>
      </div>

<div class="row">

  <style media="screen">
    .thumb img{width:60px; height:60px; object-fit: cover;}
  </style>

  <div class="col-md-10" style="float:none; margin:0 auto;">

    <!-- <h2>NSOC 4 <small>NIE Summer of Code 4.0</small></h2> -->
    <div id="links" class="thumb" style="display:block; margin:0 auto; float:none;">

      {% for l in links %}
      <a href="{{l}}" title="" data-gallery="" >
        <img src="{{l}}" style="width:30%!important; height:auto; margin:10px;">
      </a>
      {% endfor %}

    </div>
  </div>
</div>




<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<br>
      <!-- Include Footer -->
      {% include('footer.html') %}

    </div>
    <!-- Container End -->

    <script src="{{ url_for('static',filename='js/jq.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bs.js') }}"></script>
    <script src="{{ url_for('static',filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static',filename='js/blueimp.js') }}"></script>
    <script type="text/javascript">
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = {index: link, event: event},
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
    </script>

</body></html>
