<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NIE IEEE Student Branch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bs.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/blueimp.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body class="">

        <!-- Include Navigation  -->
        {% include('nav.html') %}

    <!-- Container Start -->
    <div class="container">
<br><br><br>
      <div class="col-md-12" style="float:none; margin:0 auto;">
        <h1  class="text-center">Gallery</h1><br>
      </div>

<div class="row">

  <style media="screen">
    .thumb img{width:60px; height:60px; object-fit: cover;}
  </style>

  <div class="col-md-10" style="float:none; margin:0 auto;">

    <h2>NSOC 4 <small>NIE Summer of Code 4.0</small></h2>
    <div id="links" class="thumb">
        <a href="https://lh3.googleusercontent.com/xLRZW1MtQznMKxsmOFI4p-QEl3rZhQ6e7CfK6KJVsBBHnHQOnpfubV0zxR1aq3W_64i0HOyL6DuXwpYRqX2mAsQH6EKscdSJyBYXa5RB4NcDEbNXH3fV9A4Arit-DESNP6zdbMHjMfJkE9QZ7rmF9iAa8J_3MhnC97xwd7p6-yiwxoMSwesnBq8s7oVT7wx16vfnzaPgHrzu0HdkB0oQ1Clqnw1uydhtuXiG5F-Ei41G59YDmPuWmOtNy5OpE9D9OB2qtAM6M3g3J-pox81LrWQ-CDnsYOIT8--0wFWT5V0DkS3sYWQTsNxgesvgjq_Wl-dX4kvsSEfeKfMAgn2qYHEK59gykkSE8Aw0pWX1lyowLfq1-k7SLtvvNBvuUCu6DA13lyxGQTg9PRleanaso-pAJLfIZXWO4QSFq1GIQokaUFJEAsiX4LZnp0eYOqGkvzVrKiRqlsF6bs8iTjhT51dmw0wKvmcw2cSVelvWx1BPhgSKO8OWaXuNy9B4AvRDn0qs40l0Bb--8zNRRykdmab_kGCxg1eNYM_Al5yvUYZ0I_4JLqHEU3aus5VLvkUpxbS6BTp3zwu1VlJUvaAUBB_bcXXAgZhNNenfGvfsNlFkSbtHKKIROZbymxY0TvUaI-mGRnVgVoXCj8Ux5WN-g8nQTSi5aY4DoUWMgxZH=w896-h672-no" title="NSOC 4" data-gallery="">
          <img src="https://lh3.googleusercontent.com/xLRZW1MtQznMKxsmOFI4p-QEl3rZhQ6e7CfK6KJVsBBHnHQOnpfubV0zxR1aq3W_64i0HOyL6DuXwpYRqX2mAsQH6EKscdSJyBYXa5RB4NcDEbNXH3fV9A4Arit-DESNP6zdbMHjMfJkE9QZ7rmF9iAa8J_3MhnC97xwd7p6-yiwxoMSwesnBq8s7oVT7wx16vfnzaPgHrzu0HdkB0oQ1Clqnw1uydhtuXiG5F-Ei41G59YDmPuWmOtNy5OpE9D9OB2qtAM6M3g3J-pox81LrWQ-CDnsYOIT8--0wFWT5V0DkS3sYWQTsNxgesvgjq_Wl-dX4kvsSEfeKfMAgn2qYHEK59gykkSE8Aw0pWX1lyowLfq1-k7SLtvvNBvuUCu6DA13lyxGQTg9PRleanaso-pAJLfIZXWO4QSFq1GIQokaUFJEAsiX4LZnp0eYOqGkvzVrKiRqlsF6bs8iTjhT51dmw0wKvmcw2cSVelvWx1BPhgSKO8OWaXuNy9B4AvRDn0qs40l0Bb--8zNRRykdmab_kGCxg1eNYM_Al5yvUYZ0I_4JLqHEU3aus5VLvkUpxbS6BTp3zwu1VlJUvaAUBB_bcXXAgZhNNenfGvfsNlFkSbtHKKIROZbymxY0TvUaI-mGRnVgVoXCj8Ux5WN-g8nQTSi5aY4DoUWMgxZH=w896-h672-no">
        </a>
        <a href="https://lh3.googleusercontent.com/4Lv0W0ZzNguae6zk6mLErPYVCBAw9B7jmz7GpZ18iELFvwjhnfc--ySNOoWLy7PFleOF20kBFlwExr1K-SeEmlI3uWWlNz7iLce3J62v8lop3Zdi37cquWtc_X1gSomxvuVaWstWc6Fh5aL_xcUsANAS6NBgL0G6tm10dVjzB2GYJq1wS_mKoos200_bmWJyMU_MT0hSjeYXq2rge6cAQYXESj7JHPeOBk0R9uFCoRQY1J_LIxe9cO9viKj-T_duSzf_NZTehQH8EGFeajsXQkHjZKwrhcjhVhxQoWRk9K4Je1FPY6HMTBY7WTF7Q-Jq4Il6gcNhk6LVVdSbR2-8jnjzepF0rL5V1oBuOM8j_2ijI2SfAv85mHlUBRyIzXM4e9Rp5N21AGWxQzvaom475T4ty9MDsnLbJx8gLYvLHBnPo_Du1yXOLKLL4tHvw5xsoMRZsHemDYFmwK9yl6_c1WrG3_KcSXk6eoJWSpJZ0vd9buT3Y0OhPx30x84mnb1vtIyzsbBhFVSIAkyRL6TmWP7_LZui8HqfKuVJn9s4xdAr0wwBQ_1UjSUiYNvD99Rcvz2AXN7y4oIRvTm_2ZePGjB7h_wEy1W7Nf1nR9st38fNcOOJ9VQkTGD0-jDnLsmrnNAE8Fe5F5FkS4n8yFzhxTSalihQ_JoReQXKW-L4=w896-h672-no" title="NSOC 4" data-gallery="">
          <img src="https://lh3.googleusercontent.com/4Lv0W0ZzNguae6zk6mLErPYVCBAw9B7jmz7GpZ18iELFvwjhnfc--ySNOoWLy7PFleOF20kBFlwExr1K-SeEmlI3uWWlNz7iLce3J62v8lop3Zdi37cquWtc_X1gSomxvuVaWstWc6Fh5aL_xcUsANAS6NBgL0G6tm10dVjzB2GYJq1wS_mKoos200_bmWJyMU_MT0hSjeYXq2rge6cAQYXESj7JHPeOBk0R9uFCoRQY1J_LIxe9cO9viKj-T_duSzf_NZTehQH8EGFeajsXQkHjZKwrhcjhVhxQoWRk9K4Je1FPY6HMTBY7WTF7Q-Jq4Il6gcNhk6LVVdSbR2-8jnjzepF0rL5V1oBuOM8j_2ijI2SfAv85mHlUBRyIzXM4e9Rp5N21AGWxQzvaom475T4ty9MDsnLbJx8gLYvLHBnPo_Du1yXOLKLL4tHvw5xsoMRZsHemDYFmwK9yl6_c1WrG3_KcSXk6eoJWSpJZ0vd9buT3Y0OhPx30x84mnb1vtIyzsbBhFVSIAkyRL6TmWP7_LZui8HqfKuVJn9s4xdAr0wwBQ_1UjSUiYNvD99Rcvz2AXN7y4oIRvTm_2ZePGjB7h_wEy1W7Nf1nR9st38fNcOOJ9VQkTGD0-jDnLsmrnNAE8Fe5F5FkS4n8yFzhxTSalihQ_JoReQXKW-L4=w896-h672-no">
        </a>
        <a href="https://lh3.googleusercontent.com/fKmZeAHUuGouun5nE0KGg6bD0_Ua0HUROoEq0QxpOoNu-u8mlTYLzP9as3mJNNrT2oNG86zvoOs4UysvqVtMcGKTcoe96jakJgO-sWhYE9zfd7K4igz1yxnvw359aDdG4njsEh6zOQKIDCRvZDoVHVnj24o4IR_KT4Z7Reb_6TCndKIZCEQr9aT3D5nPNCtGzFa84SCFmxEnc81ci-_Jg1Ee4YV3GnZVRHQdmE1MnqrwgEb-TQAnK97pFIYNEmuS2uPtMSyZv_YY2TZKwlgw3h3BKrb6PNBthtS5u6MPY1LbSLT37jVdUsV85Ce7lVSAv9Idcmt-eXmuoch5eaiD5e-583AlcDWBAf-y2M7BLntqaz6VnYIqaEEXdJctVH0dXQDxAwoIzU3Sj17xAu5DdMcdiX0MfBguQHkCzHC9y33Fy-rbNjltycA2WmGJBF4qdntx88SXM4mbs4VXP4-SAez18P5XCGyOtW19VM-cPnz6XG8_0cwk3hdEXE7IN1YIpAgw6Rji_5S6FgQz-ZM07zRvq4lZnVeutjsmcICAM3Ey-9oUBKUV2axppVqIW1mehXuk64vZSvwvseQ7WimGfTwxibWFjn18PbYpIXvz-5fNyrIZsahUCZQKx-jVHXGGXNuuRpJqdRixcEQI0YaWWCn1veWxDHBcq4QAYUlX=w896-h672-no" title="NSOC 4" data-gallery="">
          <img src="https://lh3.googleusercontent.com/fKmZeAHUuGouun5nE0KGg6bD0_Ua0HUROoEq0QxpOoNu-u8mlTYLzP9as3mJNNrT2oNG86zvoOs4UysvqVtMcGKTcoe96jakJgO-sWhYE9zfd7K4igz1yxnvw359aDdG4njsEh6zOQKIDCRvZDoVHVnj24o4IR_KT4Z7Reb_6TCndKIZCEQr9aT3D5nPNCtGzFa84SCFmxEnc81ci-_Jg1Ee4YV3GnZVRHQdmE1MnqrwgEb-TQAnK97pFIYNEmuS2uPtMSyZv_YY2TZKwlgw3h3BKrb6PNBthtS5u6MPY1LbSLT37jVdUsV85Ce7lVSAv9Idcmt-eXmuoch5eaiD5e-583AlcDWBAf-y2M7BLntqaz6VnYIqaEEXdJctVH0dXQDxAwoIzU3Sj17xAu5DdMcdiX0MfBguQHkCzHC9y33Fy-rbNjltycA2WmGJBF4qdntx88SXM4mbs4VXP4-SAez18P5XCGyOtW19VM-cPnz6XG8_0cwk3hdEXE7IN1YIpAgw6Rji_5S6FgQz-ZM07zRvq4lZnVeutjsmcICAM3Ey-9oUBKUV2axppVqIW1mehXuk64vZSvwvseQ7WimGfTwxibWFjn18PbYpIXvz-5fNyrIZsahUCZQKx-jVHXGGXNuuRpJqdRixcEQI0YaWWCn1veWxDHBcq4QAYUlX=w896-h672-no">
        </a>
        <a href="https://lh3.googleusercontent.com/MzmICACEbsezwkBzoDdJYjXWLrNx1roQtDDgbWeNvBKfN7pnJJbJD2V3hQxEmlHPjPzg_D6s-TvorHWqquWMgMc3b1rX8dqWWjqPGeiPmreiO7lC25KYj6vfTwhTlj6KfW-i22Vo9riAb5mnQ7vrgMyCHzn66iGNzdKjRE01dgTsFOSlIsl7WLflAcnaKjIPpmsLReRZttrxiew3vMwUNp-IaW8_giBs1wLuqTn6ZA8YyFiFtFbQgDf0FSYk4cZ5LnHTLpYv1KkxBZ10w3rlqC_9ilvdpJMXzTpQSbx5gZA0YY9_vZTuJYesiGY0YggJHj9RkZFcS1NB0n454chWNkw70XOTDNJgVBqndclYsoAPezUWFcVzyFq_o4SDk4O-2wJpug_UDNff_nNeJ-zfW_N2RXYPsyCeVi1FV9fwe5dWFDQ7O-XfkrGKJU2JmexUf9GJdl1epc9byiWf1UHXs8SvBQQWgf-Kiz9IwW_cjEZ5mrcovP1p3TrsXC8vp6QAE_PHQJf3InjQgoz_eQAUzcfrXdUvlsgPZEpojgkDFy4LY0OISHhauhiuzuFuxnLW2UJJq6r2o8PtPgOnV1tupNCn-QaHMTokur0PUb2pVWUPQ-WNHtlX3P2Drq_Bwtda7Z6wkQTwIAP4DKqGxf_746vIM1EJyW8NbUJjPHgI=w831-h623-no" title="NSOC 4" data-gallery="">
          <img src="https://lh3.googleusercontent.com/MzmICACEbsezwkBzoDdJYjXWLrNx1roQtDDgbWeNvBKfN7pnJJbJD2V3hQxEmlHPjPzg_D6s-TvorHWqquWMgMc3b1rX8dqWWjqPGeiPmreiO7lC25KYj6vfTwhTlj6KfW-i22Vo9riAb5mnQ7vrgMyCHzn66iGNzdKjRE01dgTsFOSlIsl7WLflAcnaKjIPpmsLReRZttrxiew3vMwUNp-IaW8_giBs1wLuqTn6ZA8YyFiFtFbQgDf0FSYk4cZ5LnHTLpYv1KkxBZ10w3rlqC_9ilvdpJMXzTpQSbx5gZA0YY9_vZTuJYesiGY0YggJHj9RkZFcS1NB0n454chWNkw70XOTDNJgVBqndclYsoAPezUWFcVzyFq_o4SDk4O-2wJpug_UDNff_nNeJ-zfW_N2RXYPsyCeVi1FV9fwe5dWFDQ7O-XfkrGKJU2JmexUf9GJdl1epc9byiWf1UHXs8SvBQQWgf-Kiz9IwW_cjEZ5mrcovP1p3TrsXC8vp6QAE_PHQJf3InjQgoz_eQAUzcfrXdUvlsgPZEpojgkDFy4LY0OISHhauhiuzuFuxnLW2UJJq6r2o8PtPgOnV1tupNCn-QaHMTokur0PUb2pVWUPQ-WNHtlX3P2Drq_Bwtda7Z6wkQTwIAP4DKqGxf_746vIM1EJyW8NbUJjPHgI=w831-h623-no">
        </a>
        <a href="https://lh3.googleusercontent.com/Ttk_3BoQlmpFc7ySDw11iXuBSeBNeDTx4JbsK02jwvKffeYEt-h3GnnXNTb-9Ld-8VQxD_f5vxTD_sdDeF7IMX8ucxKZ-3VWqff_nLT5kufkglV1UbWUSaDF-VFTw4UiYzBmRzmdf_BtaF9XXhzlU16XlFaOsG9re7M1n0lxfYsO24Nhf4IJ_nb8f8j6v7BdAncfN_bYSpGFgpJUk0YTMTs3d2eydnrNMPQB8plU9EOMjQZ_8CqXoLqsF3l8JQ4IdP4uXkTHgFVlqZ8LPHOky1AEb5JW8UcU1UrzfasW9YhC3nhtNu_lc3hDbB0Tamqg5F6XW9xJr-X2Z3uLQl8RWpkEb9m7j2FKF-8cI77EmAmesjI3LV3odN4dRyZ2FnnGoXS1BiOMCom4jhapi24VnBXtgKge8oAUovI7mouCWS_wv8S5SbkpG5AA2Unt9F91ErN7XxdkLsLjNsD2MXm31ZiJRdKMZeduP26xCGjcMAyGzTDtHonpu2tyS2SV_ks94wXMDIF5B-o6cgREQX6oQKTymAzimqEMor7hhw9lDcYi7ZwFd3b9N3gU_Vwv1aQgdL_C5gh0t_cMBQiv5B2ALX8N7yt9-o_HTpPHwbpS6AJhlgwognjinweK3cSuhol3hmgzJotyQqw8ouB6XjgQon_-Q8IgolrJCZ0N5sBv=w896-h672-no" title="NSOC 4" data-gallery="">
          <img src="https://lh3.googleusercontent.com/Ttk_3BoQlmpFc7ySDw11iXuBSeBNeDTx4JbsK02jwvKffeYEt-h3GnnXNTb-9Ld-8VQxD_f5vxTD_sdDeF7IMX8ucxKZ-3VWqff_nLT5kufkglV1UbWUSaDF-VFTw4UiYzBmRzmdf_BtaF9XXhzlU16XlFaOsG9re7M1n0lxfYsO24Nhf4IJ_nb8f8j6v7BdAncfN_bYSpGFgpJUk0YTMTs3d2eydnrNMPQB8plU9EOMjQZ_8CqXoLqsF3l8JQ4IdP4uXkTHgFVlqZ8LPHOky1AEb5JW8UcU1UrzfasW9YhC3nhtNu_lc3hDbB0Tamqg5F6XW9xJr-X2Z3uLQl8RWpkEb9m7j2FKF-8cI77EmAmesjI3LV3odN4dRyZ2FnnGoXS1BiOMCom4jhapi24VnBXtgKge8oAUovI7mouCWS_wv8S5SbkpG5AA2Unt9F91ErN7XxdkLsLjNsD2MXm31ZiJRdKMZeduP26xCGjcMAyGzTDtHonpu2tyS2SV_ks94wXMDIF5B-o6cgREQX6oQKTymAzimqEMor7hhw9lDcYi7ZwFd3b9N3gU_Vwv1aQgdL_C5gh0t_cMBQiv5B2ALX8N7yt9-o_HTpPHwbpS6AJhlgwognjinweK3cSuhol3hmgzJotyQqw8ouB6XjgQon_-Q8IgolrJCZ0N5sBv=w896-h672-no">
        </a>
        <a href="https://lh3.googleusercontent.com/Bdr1TdFCb2mvRONR2Q9IKmzdKku1bz2ivQ-94FijzHr7jP0Ffr-iDSPfoSZqRdXN5dvQEOcQIfotPAM-zJYThDcqGlpkoNPnZIyYMpLxISU5HWBO-FFljORNe96g4KssKFH8Vll-D26q01J0JcJmG9jPl3v-zDV1YYT_t4iqRyfUkqH-IJNm4Y6HGa0_dE212GPjeVsTm3R9ghmHf_4IAPh_CDOhKH51Oz7-A-QgxsT6sG_qFFmrL7Exv6A9Ss7kN9OPfU-huunIHNbAVg-LsTNfxa_bDsem-KTvIqqnETLP2KkiTwbe8e-rKT_8t8JIuMfSSn2bDaV6oVbk3D8kiDm9JC_5H6Su4GB50bOvZzQA0BdVRKyXEJhHPz2_MgkbU8-harX_BqgBTfuUrKQtz1_J2TfnzkkPSx1qxLeHwH4PgEZLwwtM81IgrzvxT7jR1W7pRTCRC0vyjF6w5bccY-GCJCSbgcv-ohCgVRwH5v57RDxsVNJIwoZB07lEltRN582fBALudFXoLsaUMB1C49HqWAVI66ADPnVhZyCLwgN5_PSbrWr1ByY43R3P-rseTv5lMJAYIDI_y-GnS4lce_1DRF1Y98zsNmjla6h8BQlLDo9LlVch_8SBbKG5d_NkcrPJTUDp7LOyLphEkJJSDr-2iGNFwDECz6kCgoCi=w831-h623-no" title="NSOC 4" data-gallery="">
          <img src="https://lh3.googleusercontent.com/Bdr1TdFCb2mvRONR2Q9IKmzdKku1bz2ivQ-94FijzHr7jP0Ffr-iDSPfoSZqRdXN5dvQEOcQIfotPAM-zJYThDcqGlpkoNPnZIyYMpLxISU5HWBO-FFljORNe96g4KssKFH8Vll-D26q01J0JcJmG9jPl3v-zDV1YYT_t4iqRyfUkqH-IJNm4Y6HGa0_dE212GPjeVsTm3R9ghmHf_4IAPh_CDOhKH51Oz7-A-QgxsT6sG_qFFmrL7Exv6A9Ss7kN9OPfU-huunIHNbAVg-LsTNfxa_bDsem-KTvIqqnETLP2KkiTwbe8e-rKT_8t8JIuMfSSn2bDaV6oVbk3D8kiDm9JC_5H6Su4GB50bOvZzQA0BdVRKyXEJhHPz2_MgkbU8-harX_BqgBTfuUrKQtz1_J2TfnzkkPSx1qxLeHwH4PgEZLwwtM81IgrzvxT7jR1W7pRTCRC0vyjF6w5bccY-GCJCSbgcv-ohCgVRwH5v57RDxsVNJIwoZB07lEltRN582fBALudFXoLsaUMB1C49HqWAVI66ADPnVhZyCLwgN5_PSbrWr1ByY43R3P-rseTv5lMJAYIDI_y-GnS4lce_1DRF1Y98zsNmjla6h8BQlLDo9LlVch_8SBbKG5d_NkcrPJTUDp7LOyLphEkJJSDr-2iGNFwDECz6kCgoCi=w831-h623-no">
        </a>
        <a href="https://lh3.googleusercontent.com/zEhoDyMArEPVvjLcaw-lGwo4viRlUv8f0MyEJ3-9zVlxIid-LOi48wkd4K_g4quPlEIAX4KQfEpT3xmgG_z5AYxhj6tIm9-2_0NYKvSK8SiSF97RcRHJHAsT8WnPPjvpcPrFGG1GMbjlFer2VVJcHiU0WSOcvCgxUykioMqDHyZEeasTvO_rpDv8AH2M9od8rtJIuzXhM447saOOB6HMyQuvKQM_G0KjLHAhLkSyF0DdgUF1f6kzHgNyKD68XLJjRJoLlA9mM1gbwE2UkH7cadYhYmgnTXrk6vfbetvi8DOSB_E8qdVy7UNhcwu72CWX-lNuv5br1-XGWwrTO6nm4ONVOTXWIb22oN79exHoAZjQq1rE_nRlcCL7YyTbxWwVJnnr7rQZLHwRCpifDY7Ozh95GEHUrP-OoKhcHe9hQ-VToOiIZ41q-mbOZ4Cq9LqKfZVg7OPsOIpF64TXtbHXrGoAGiOBpgzIAjnMwxLjRx-y0ET9K7kyH_W9inVhxqm3GyPMxzjYybTCx3ViYOFtd0RcAAXS-QLNUvSakMNirrYSmBKfD5R0i8s73eh6sZQiaWC__j9A4dmP9o0M-ud-52VFV9b3I1T8r6Yun-CfS18bw-oK1Uu8KqB00NViGtdGJmPUNNLoLl_8Cfc7uxbK3sHMwBsFIDWYLpGCD5Wi=w831-h623-no" title="NSOC 4" data-gallery="">
          <img src="https://lh3.googleusercontent.com/zEhoDyMArEPVvjLcaw-lGwo4viRlUv8f0MyEJ3-9zVlxIid-LOi48wkd4K_g4quPlEIAX4KQfEpT3xmgG_z5AYxhj6tIm9-2_0NYKvSK8SiSF97RcRHJHAsT8WnPPjvpcPrFGG1GMbjlFer2VVJcHiU0WSOcvCgxUykioMqDHyZEeasTvO_rpDv8AH2M9od8rtJIuzXhM447saOOB6HMyQuvKQM_G0KjLHAhLkSyF0DdgUF1f6kzHgNyKD68XLJjRJoLlA9mM1gbwE2UkH7cadYhYmgnTXrk6vfbetvi8DOSB_E8qdVy7UNhcwu72CWX-lNuv5br1-XGWwrTO6nm4ONVOTXWIb22oN79exHoAZjQq1rE_nRlcCL7YyTbxWwVJnnr7rQZLHwRCpifDY7Ozh95GEHUrP-OoKhcHe9hQ-VToOiIZ41q-mbOZ4Cq9LqKfZVg7OPsOIpF64TXtbHXrGoAGiOBpgzIAjnMwxLjRx-y0ET9K7kyH_W9inVhxqm3GyPMxzjYybTCx3ViYOFtd0RcAAXS-QLNUvSakMNirrYSmBKfD5R0i8s73eh6sZQiaWC__j9A4dmP9o0M-ud-52VFV9b3I1T8r6Yun-CfS18bw-oK1Uu8KqB00NViGtdGJmPUNNLoLl_8Cfc7uxbK3sHMwBsFIDWYLpGCD5Wi=w831-h623-no">
        </a>
    </div>
  </div>
</div>




<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<br>
      <!-- Include Footer -->
      {% include('footer.html') %}

    </div>
    <!-- Container End -->

    <script src="{{ url_for('static',filename='js/jq.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bs.js') }}"></script>
    <script src="{{ url_for('static',filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static',filename='js/blueimp.js') }}"></script>
    <script type="text/javascript">
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = {index: link, event: event},
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
    </script>

</body></html>
